{% extends 'base.html' %}

{% block content %}
<section class="page-title">
    <h1>Fale Conosco</h1>
</section>

<section class="container contato-container">
    <div class="contato-info">
        <h3>Informações</h3>
        <p><i class="fas fa-phone"></i> (18) 99717-4235</p>
        <p><i class="fas fa-map-marker-alt"></i> Penápolis - SP</p>
        <div class="mapa">
            <p style="text-align: center; padding-top: 50px; color: #888;">[Inserir Iframe do Google Maps]</p>
        </div>
    </div>
</section>
{% endblock %}